/* COVERFLOW CSS */

.zd_cover {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transition-property: margin-top, margin-left, width, height, -webkit-transform, z-index;
	-webkit-transition-duration: .3s, .3s, .3s, .3s, .3s, .15s;
	-webkit-box-reflect: below 0 -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, .6));
	user-select: none;
}
.zd_cover > img {
	position: absolute;
	bottom: 0;
	margin: 0;
	vertical-align: bottom;
}
.zd_grad {
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 1;
}
.zd_grad_l {
	left: 0;
	background: -webkit-linear-gradient(left, #000, transparent);
}
.zd_grad_r {
	right: 0;
	background: -webkit-linear-gradient(left, transparent, #000);
}